.navhead {
  height: 60px;
}

#sidebar {
  width: 300px;
  height: 100vh;
  background: #2C3C42;
  color: #FFF;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #2C3C42;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#dismiss:hover {
  color: #555;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-weight:bold;
  display: block;
  color: #999;
}

#sidebar ul li a:hover {
 color: rgb(219, 219, 219);
 font-size: 16px;
 transition: 0.1s;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 12px !important;
  padding-left: 30px !important;
  background: #3b4c54;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}